@import '../abstracts/mixins';
@import '../abstracts/variables';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  font-size: 2rem;
  font-weight: 500;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  z-index: 5;
  background: var(--white);
  transition: 0.6s ease;
  line-height: 2;
  padding: 1rem 3.2rem;

  @include respond(phone) {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 999;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.6s ease;
    padding: 1rem 0;
    display: block;
  }

  @include respond(tablet-port) {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 999;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.6s ease;
    padding: 1rem 3.2rem;
    display: block;
  }

  @include respond(tablet-land) {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 999;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.6s ease;
    padding: 1rem 4.8rem;
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--white);

    @include respond(phone) {
      overflow: hidden;
      display: block;
      height: 48rem;
      padding: 0 1.6rem;
    }

    @include respond(tablet-port) {
      overflow: hidden;
      display: block;
    }

    @include respond(tablet-land) {
      overflow: hidden;
      display: block;
    }
  }
  .menu-item {
    a {
      display: block;
      margin: 15px 32px;
      transition: 0.2s all ease-in-out;
      color: var(--black);
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 8px;
        width: 100%;
        height: 10px;
        background-color: var(--primary-light);
        opacity: 0;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;

        @include respond(phone) {
          display: none;
        }
        @include respond(tablet-port) {
          display: none;
        }
        @include respond(tablet-land) {
          display: none;
        }
        @include respond(desktop-big) {
          display: none;
        }
      }

      &:hover {
        @include respond(phone) {
          color: var(--primary);
        }
        @include respond(tablet-port) {
          color: var(--primary);
        }
        @include respond(desktop-big) {
          color: var(--primary);
        }
      }

      &:hover:before {
        z-index: -1;
        opacity: 1;
      }

      @include respond(phone) {
        padding: 0;
        margin: 0;
      }
      @include respond(tablet-port) {
        padding: 0;
        margin: 0;
      }
      @include respond(tablet-land) {
        padding: 0;
        margin: 0;
      }
      @include respond(desktop-bigger) {
        font-size: 1.5rem;
      }
      text-decoration: none;
    }
  }
  .menu-contact {
    margin: 15px 32px;

    @include respond(phone) {
      margin: 15px 0;
    }
  }
  .menu-btn {
    &:hover {
      background-color: #f4f4f4;
    }
    display: none;
    &:checked {
      ~ {
        .menu {
          max-height: 2400px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 3rem;
          padding-top: 3rem;
        }
        .menu-icon {
          .navicon {
            background: transparent;
            &:before {
              transform: rotate(-45deg);
            }
            &:after {
              transform: rotate(45deg);
            }
          }
          &:not(.steps) {
            .navicon {
              &:before {
                top: 0;
              }
              &:after {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .logo {
    display: block;
    float: left;
    font-size: 2rem;
    text-decoration: none;
    padding: 15px 0 14px 0;
    @include respond(phone) {
      padding: 15px 16px;
    }
    @include respond(tablet-port) {
      padding: 15px 0;
    }
    @include respond(tablet-land) {
      padding: 15px 0;
    }
    @include respond(desktop-bigger) {
      font-size: 1.5rem;
    }
  }
  .menu {
    @include respond(phone) {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    @include respond(tablet-port) {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    @include respond(tablet-land) {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
  }
  .menu-icon {
    display: none;
    @include respond(phone) {
      cursor: pointer;
      display: inline-block;
      float: right;
      position: relative;
      user-select: none;
      padding: 32px 40px 28px 0;
    }
    @include respond(tablet-port) {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 33px 80px 28px 0;
      position: relative;
      user-select: none;
    }
    @include respond(tablet-land) {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 33px 140px 28px 0;
      position: relative;
      user-select: none;
    }
    .navicon {
      @include respond(phone) {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
        &:before {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: 5px;
        }
        &:after {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: -5px;
        }
      }
      @include respond(tablet-port) {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
        &:before {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: 5px;
        }
        &:after {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: -5px;
        }
      }
      @include respond(tablet-land) {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
        &:before {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: 5px;
        }
        &:after {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          top: -5px;
        }
      }
    }
  }
}
