@import '../abstracts/mixins';
@import '../abstracts/variables';

.heading-primary {
  font-size: 64px;
  line-height: 1.212em;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: 'Poppins', sans-serif;
  margin: 0;

  @include respond(phone) {
    font-size: 32px;
    line-height: 4rem;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
    font-size: 36px;
    line-height: 4.3rem;
  }
  @include respond(tablet-land) {
    font-size: 48px;
    line-height: 5.6rem;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-big {
  font-size: 64px;
  width: 100%;
  line-height: 1.212em;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 28px;
    line-height: 3.5rem;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
    font-size: 36px;
  }
  @include respond(tablet-land) {
    font-size: 44px;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-secondary {
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 28px;
    line-height: 1.31em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
    font-size: 32px;
  }
  @include respond(tablet-land) {
    width: 100%;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 16px;
    line-height: 1.31em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-third {
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 28px;
    line-height: 1.212em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
  }
  @include respond(tablet-land) {
    font-size: 54px;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-references {
  font-size: 32px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 24px;
    line-height: 1.212em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
  }
  @include respond(tablet-land) {
    width: 100%;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-fourth {
  font-size: 32px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
    font-size: 24px;
    line-height: 1.212em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  @include respond(tablet-port) {
    width: 100%;
  }
  @include respond(tablet-land) {
    width: 100%;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

.heading-fifth {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -1px;
  margin: 0;

  @include respond(phone) {
    width: 100%;
  }
  @include respond(tablet-port) {
    width: 100%;
  }
  @include respond(tablet-land) {
    width: 100%;
  }
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}
