@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.banner {
  padding-top: 24.6rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;

  @include mediaquery('xs') {
    flex-direction: column;
    padding-top: 20rem;
  }
  @include mediaquery('sm') {
    flex-direction: column;
    padding-top: 20rem;
  }
  @include mediaquery('lg') {
    flex-direction: row;
    padding-top: 20rem;
  }
  @include mediaquery('xl') {
    padding-top: 27rem;
  }

  &-block-left {
    width: 70%;
    position: relative;
    @include mediaquery('xs') {
      width: 100%;
    }
    @include mediaquery('sm') {
      width: 100%;
    }
    @include mediaquery('lg') {
      margin-right: 5rem;
    }
    &--title {
      margin-top: 1.2rem;
      margin-bottom: 1rem;
      width: 872px;

      @include mediaquery('xs') {
        width: unset !important;
      }
      @include mediaquery('sm') {
        width: 100%;
      }
      @include mediaquery('lg') {
        width: 100%;
      }
      span {
        display: inline-block;
        position: relative;
        z-index: 10;
        &:after {
          background: #f1ca89;
          bottom: 8%;
          content: '';
          height: 12px;
          position: absolute;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
    &-buttons {
      margin-top: 4.2rem;
      margin-bottom: 4.2rem;
      &-first {
        margin-right: 0.8rem;
      }
    }
    &--sub {
      line-height: 171%;
      max-width: 530px;
      margin-top: 4rem;

      @include mediaquery('xs') {
        margin-top: unset;
      }
      @include mediaquery('sm') {
        margin-top: unset;
      }
    }
    &-trusted {
      margin-top: 6.2rem;
      &--small {
        text-transform: uppercase;
        color: var(--gray)-2;
      }
      &-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        gap: 4rem;
        img {
          margin-right: 1.5rem;
          width: 100px;
          height: auto;
          object-fit: cover;

          @include mediaquery('xs') {
            width: 64px;
          }
        }

        @include mediaquery('xs') {
          flex-wrap: wrap;
        }
      }
    }
  }
  &-block-right {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: -1;

    @include mediaquery('xs') {
      display: none;
    }
    @include mediaquery('sm') {
      display: none;
    }
    @include mediaquery('lg') {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      width: 70.1rem;
      height: 54.2rem;
      position: relative;
      z-index: 10;
      top: -10rem;
      @include mediaquery('xs') {
        margin-top: 4rem;
        width: 100%;
        height: auto;
      }
      @include mediaquery('sm') {
        margin-top: 4rem;
        width: 100%;
        height: auto;
      }
    }
    img {
      object-fit: cover;
      width: 600px;
      height: auto;
      @include mediaquery('lg') {
        width: 85%;
      }
    }
  }
}
