@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.collaborate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 8rem;

  @include respond(phone) {
    width: unset;
  }
  @include respond(tablet-port) {
    width: unset;
  }
  @include respond(tablet-land) {
    width: unset;
  }

  &-wrapper {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 7rem 0;

    @include respond(phone) {
      padding: 6rem 2rem;
      width: unset;
    }
    @include respond(tablet-port) {
      padding: 6rem 2rem;
      width: unset;
    }
    @include respond(tablet-land) {
      padding: 6rem 2rem;
      width: unset;
    }

    &-heading {
      max-width: 1080px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      display: block;

      @include respond(phone) {
        text-align: left;
        word-break: break-word;
      }

      @include respond(tablet-port) {
        text-align: left;
        word-break: break-word;
      }
    }

    &-text {
      max-width: 958px;
      width: 100%;
      text-align: center;

      @include respond(phone) {
        text-align: left;
        word-break: break-word;
      }
      @include respond(tablet-port) {
        text-align: left;
        word-break: break-word;
      }
    }

    &-lines-img {
      position: absolute;
      right: 9rem;
      top: 7rem;

      @include respond(phone) {
        display: none;
      }
      @include respond(tablet-port) {
        display: none;
      }
      @include respond(tablet-land) {
        display: none;
      }
    }
    &-arrow-img {
      position: absolute;
      bottom: -13rem;
      right: 0;

      @include respond(phone) {
        bottom: -8rem;
      }
      @include respond(tablet-port) {
        bottom: -8rem;
      }
      @include respond(tablet-land) {
        bottom: -8rem;
      }

      img {
        object-fit: cover;
        @include respond(phone) {
          width: 99px;
          height: auto;
        }
        @include respond(tablet-port) {
          width: 99px;
          height: auto;
        }
        @include respond(tablet-land) {
          width: 99px;
          height: auto;
        }
      }
    }
  }
}
