@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.cta-second {
  margin-top: 10rem;
  background-color: var(--gray);

  @include mediaquery('xs') {
    margin-top: 7rem;
  }
  @include mediaquery('sm') {
    margin-top: 7rem;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 6rem 0;

    @include mediaquery('xs') {
      width: unset;
      padding: 8rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }
    @include mediaquery('sm') {
      width: unset;
      padding: 8rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }
    @include mediaquery('lg') {
      width: unset;
      padding: 8rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }

    p {
      font-size: 24px;
      max-width: 695px;
      color: var(--gray)-2;
      text-align: center;
      line-height: 41px;
      letter-spacing: 0em;
      margin: 0;
    }
    h3 {
      margin: 3rem 0;
    }
  }
}
