@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.cta-second {
  margin-top: 8rem;
  background-color: var(--gray);

  @include respond(phone) {
    margin-top: 6rem;
  }
  @include respond(tablet-port) {
    margin-top: 6rem;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;

    @include respond(phone) {
      width: unset;
      padding-top: 8rem;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 8rem;
    }
    @include respond(tablet-port) {
      width: unset;
      padding: 8rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }
    @include respond(tablet-land) {
      width: unset;
      padding: 8rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }

    p {
      font-size: 24px;
      max-width: 695px;
      color: var(--gray-200);
      text-align: center;
      line-height: 41px;
      letter-spacing: 0em;
      margin: 0;
    }
    h3 {
      margin: 3rem 0;
    }
  }
}
