@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.blog-banner {
  padding-top: 22.6rem;

  @include respond(phone, tablet-port, tablet-land) {
    padding-top: 15rem;
  }

  &-wrapper {
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @include respond(phone, tablet-port, tablet-land) {
      flex-direction: column;
    }

    &-heading {
      width: max-content;
      margin-left: 0;
    }
    &-text {
      max-width: 800px;
    }

    span {
      margin-top: 2rem;
      font-weight: 700;
    }
    &-categories {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      flex-wrap: wrap;

      &-item {
        color: var(--black);
        font-weight: 500;
        text-decoration: underline;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: var(--primary);
        }

        .category-btn {
          border: 0;
          background: transparent;
          text-decoration: underline;
          font-size: 18px;
          font-weight: 600;
          transition: 0.3s all ease-in-out;

          &:hover {
            color: var(--primary);
            cursor: pointer;
          }
        }
      }
    }

    &-blogs {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 4rem;
      padding-top: 6.2rem;

      @include respond(phone, tablet-port, tablet-land) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
      }

      &-item {
        background-color: var(--white);
        padding: 5rem 4rem;
        transition: 0.4s all ease-in-out;
        border-radius: 5px;

        .line {
          background-color: var(--primary);
          height: 2px;
          width: 200px;
          margin: 1.6rem 0;
          transition: 0.4s all ease-in-out;
        }
        .color-primary {
          color: var(--primary);
          transition: 0.4s all ease-in-out;
        }

        &-information {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1.2rem;
          margin-bottom: 3.2rem;

          @include respond(phone, tablet-port) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
            margin-top: 1.6rem;
          }

          &-date {
            gap: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
              margin: 0;
              font-size: 14px;
              color: var(--primary);

              @include respond(phone) {
                display: none;
              }
            }
            p {
              font-size: 16px;
              margin: 0;
            }
          }
          &-author {
            gap: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
              margin: 0;
              font-size: 14px;
              color: var(--primary);

              @include respond(phone) {
                display: none;
              }
            }
            p {
              font-size: 16px;
              margin: 0;
            }
          }
        }

        &:hover
          > .blog-banner-wrapper-blogs-item-information
          > .blog-banner-wrapper-blogs-item-information-date
          > .color-primary {
          color: var(--black);
        }

        &:hover
          > .blog-banner-wrapper-blogs-item-information
          > .blog-banner-wrapper-blogs-item-information-author
          > .color-primary {
          color: var(--black);
        }

        &:hover {
          transform: translateY(-10px);
          background-color: var(--primary-light);
        }

        &:hover > .line {
          background-color: var(--black);
          width: 310px;

          @include respond(phone) {
            width: 100%;
          }
        }
      }
    }
    &-blog {
      h4 {
        display: flex;
        width: max-content;
        background-color: var(--white);
        border-radius: 5px;
        flex-direction: row;
        padding: 3.2rem 3.2rem;
        gap: 1.6rem;
        margin-top: 6.4rem;
        align-items: center;
      }
    }
  }
}

.blog-banner-wrapper-categories-item.active button {
  color: var(--primary);
}
