@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.banner-text {
  background-color: var(--gray);
  &-wrapper {
    padding-top: 22.6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    @include respond(phone) {
      flex-direction: column;
      padding-top: 20rem;
      text-align: left;
    }
    @include respond(tablet-port) {
      flex-direction: column;
      padding-top: 20rem;
    }
    @include respond(tablet-land) {
      flex-direction: column;
      padding-top: 20rem;
    }
    @include respond(desktop-big) {
      padding-top: 27rem;
    }
    &-heading {
      margin-bottom: 4rem;
      width: 1132px;

      @include respond(phone) {
        width: 100%;
      }
      @include respond(tablet-port) {
        width: 100%;
      }
      @include respond(tablet-land) {
        width: 100%;
      }
    }
    &-text {
      margin-top: 4rem;
      max-width: 781px;
    }
    img {
      margin: 2rem 0 0.5rem 0;
      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
