@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.introduce-me {
  margin-top: 18rem;

  @include respond(phone) {
    margin-top: unset;
  }
  @include respond(tablet-port) {
    margin-top: 6rem;
  }
  @include respond(tablet-land) {
    margin-top: 6rem;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 799px;
    width: 100%;

    @include respond(phone) {
      padding-left: 16px;
      padding-right: 16px;
      width: unset;
      max-width: unset;
    }
    @include respond(tablet-port) {
      padding-left: 32px;
      padding-right: 32px;
      width: unset;
      max-width: unset;
    }
    @include respond(tablet-land) {
      padding-left: 64px;
      padding-right: 64px;
      width: unset;
      max-width: unset;
    }
    @include respond(desktop-big) {
      width: 100%;
      max-width: 1280px;
      padding: 0 1rem;
    }
    &-heading {
      margin-bottom: 34px;
      max-width: 800px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-top: 4rem;
      &-item {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        max-width: 650px;
        &-text {
          margin-bottom: 0;
          max-width: 550px;
        }
      }
    }
  }
}
