@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.trusted-by {
  margin-top: 6.4rem;
  background-color: var(--gray);
  padding: 4rem;

  @include respond(phone) {
    margin-top: unset;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    @include respond(phone) {
      flex-direction: column;
      gap: 8rem;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    @include respond(tablet-port) {
      flex-direction: column;
      gap: 8rem;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    &-text {
      color: var(--black);
      margin: 0;
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      position: relative;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: auto;

      @include respond(phone) {
        margin-right: 0;
      }
      @include respond(tablet-port) {
        margin-right: 0;
      }
      @include respond(tablet-land) {
        margin-right: 0;
      }

      img {
        position: absolute;
        bottom: -17px;
        right: -10px;
      }
    }
    &-companies {
      display: flex;
      flex-direction: row;
      gap: 12rem;
      justify-content: center;
      align-items: center;
      margin-right: 10rem;
      @include respond(phone) {
        gap: 7rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 6rem;
      }
      @include respond(tablet-port) {
        gap: 7rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 6rem;
      }
      @include respond(tablet-land) {
        gap: 6rem;
        margin: 0 auto;
      }

      img {
        object-fit: contain;
      }
    }
  }
}
