@import '../abstracts/mixins';
@import '../abstracts/variables';

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: relative;
  background: #f8f8f9;
}

* {
  &::selection {
    color: var(--black);
    background-color: var(--primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

main {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

.container-box {
  width: 100%;
  max-width: 1620px;
  padding: 0 1rem;

  @include respond(phone) {
    padding-left: 16px;
    padding-right: 16px;
    width: unset;
    max-width: unset;
  }

  @include respond(tablet-port) {
    padding-left: 32px;
    padding-right: 32px;
    width: unset;
    max-width: unset;
  }

  @include respond(tablet-land) {
    padding-left: 64px;
    padding-right: 64px;
    width: unset;
    max-width: unset;
  }
  @include respond(desktop-big) {
    padding-left: 32px;
    padding-right: 32px;
    width: unset;
    max-width: unset;
  }
  @include respond(desktop-bigger) {
    width: 100%;
    max-width: 1120px;
    padding: 0 1rem;
  }
}

.bolden {
  font-weight: bold;
  color: var(--primary);
}

.text-center {
  text-align: center;
}

.small-text {
  color: var(--gray);
  font-size: 1.3rem;
}

.header.scrollss {
  box-shadow: 0 3px 6px var(--gray-800);
}

.underline {
  position: relative;
  z-index: 1;
  margin-left: 1.5rem;
  &:after {
    content: '';
    position: absolute;
    background-color: var(--primary);
    bottom: 15%;
    height: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;

    @include respond(phone) {
      bottom: 17%;
      height: 10px;
    }

    @include respond(tablet-port) {
      bottom: 17%;
      height: 10px;
    }
  }
}
